<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.engine.mapper.EndpointMapper">
    <!-- 首先建立表和实体的映射(字段不同的情况) -->
    <resultMap id="endpoint" type="cn.net.engine.bean.project.Endpoint">
        <result column="project_id" property="projectId" javaType="String"/>
        <result column="del_flag" property="delFlag" jdbcType="BIT" javaType="boolean"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime" javaType="Date"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <!-- 可以关联 - 如果内部有其他关联的对象时可使用，如果是集合的时候 collection -->
        <collection property="configList" javaType="cn.net.engine.bean.project.EndpointConfig">
            <result property="name" column="config_name"/>
            <result property="title" column="config_title"/>
            <result property="type" column="config_type"/>
            <result property="appliesTo" column="config_appliesTo"/>
            <result property="defaultValue" column="default_value"/>
            <result property="allowedValues" column="allowed_values"/>
            <result property="modeRequired" column="mode_required"/>
        </collection>
    </resultMap>

    <!-- 根据条件查询端点信息 -->
    <select id="queryEndpoints" parameterType="cn.net.engine.bean.project.Endpoint" resultMap="endpoint">
        select ed.*, ep.name as config_name, ep.title as config_title, ep.type as config_type,
        ep.applies_to as config_appliesTo, ep.tips, ep.masked, ep.required, ep.default_value, ep.allowed_values,
        ep.mode_required
        from t_engine_endpoint ed
        left join t_engine_ep_properties ep on ed.type = ep.endpoint_type
        <where>
            <if test="delFlag != null">
                and ed.del_flag = false
            </if>
            <if test="name != null and name != ''">
                and ed.name like '%'#{name}'%'
            </if>
            <if test="type != null and type != ''">
                and ed.type = #{type}
            </if>
            <if test="mode != null and mode != ''">
                and ed.mode = #{mode}
            </if>
        </where>
    </select>

    <!-- 根据端点id查询 -->
    <select id="getEndpointById" parameterType="string" resultMap="endpoint">
        select ed.*,
               ep.name       as config_name,
               ep.title      as config_title,
               ep.type       as config_type,
               ep.applies_to as config_appliesTo,
               ep.tips,
               ep.masked,
               ep.required,
               ep.default_value,
               ep.allowed_values,
               ep.mode_required
        from t_engine_endpoint ed
                 left join t_engine_ep_properties ep on ed.type = ep.endpoint_type
        where id = #{id}
    </select>

    <!-- 新增端点 -->
    <insert id="addEndpoint" parameterType="cn.net.engine.bean.project.Endpoint">
        insert into t_engine_endpoint (id, name, description, project_id, type, mode, configs, status, del_flag,
                                       create_by, create_time, update_by, update_time)
        VALUES (#{id}, #{name}, #{description}, #{projectId}, #{type}, #{mode}, #{configs}, #{status}, #{delFlag},
                #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <!-- 更新端点 -->
    <update id="updateEndpoint" parameterType="cn.net.engine.bean.project.Endpoint">
        update t_engine_endpoint
        set name        = #{name},
            description = #{description},
            project_id  = #{projectId},
            type        = #{type},
            mode        = #{mode},
            configs     = #{configs},
            update_by   = #{updateBy},
            update_time = #{updateTime},
            status      = #{status},
            del_flag    = #{delFlag}
        where id = #{id}
    </update>

    <!-- 删除端点 -->
    <delete id="deleteEndpoint" parameterType="string">
        delete
        from t_engine_endpoint
        where id = #{id}
    </delete>
</mapper>