<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.engine.mapper.EndpointConfigMapper">

    <!-- 新增端点配置 -->
    <insert id="addEndpointConfig" parameterType="cn.net.engine.bean.project.EndpointConfig">

    </insert>
</mapper>