<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soft.modules.engine.mapper.ProjectManagerMapper">

    <!-- 项目表和项目实体的映射 -->
    <resultMap id="project" type="cn.soft.modules.engine.entity.project.ProjectModel">
        <result column="name" property="projectName"/>
        <result column="id" property="projectId"/>
        <result column="type" property="projectType"/>
        <result column="priority" property="projectPriority"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 属性表和实体字段映射 -->
    <resultMap id="properties" type="cn.soft.modules.engine.entity.project.EndpointProperties">
        <result column="endpoint_type_name" property="endpointTypeName"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="allowed_values" property="allowedValues"/>
        <result column="required" property="required"/>
        <result column="default_value" property="defaultValue"/>
        <result column="endpoint_modes" property="endpointModes"/>
        <result column="masked" property="masked"/>
        <result column="modeRequired" property="modeRequired"/>
        <result column="applies_to" property="appliesTo"/>
    </resultMap>

    <!-- 路由表和实体字段的映射 -->
    <resultMap id="route" type="cn.soft.modules.engine.entity.project.Route">
        <result column="id" property="routeId"/>
        <result column="name" property="routeName"/>
        <result column="description" property="description"/>
        <result column="debug" property="debug"/>
        <result column="deep_clone" property="deepClone"/>
        <result column="processing_strategy" property="processingStrategy"/>
        <result column="thread_count" property="threadCount"/>
        <result column="x" property="x"/>
        <result column="y" property="y"/>
        <result column="nodes" property="nodes"/>
        <result column="links" property="links"/>
    </resultMap>

    <!-- 查询所有项目信息 -->
    <select id="queryAllProject" resultMap="project" parameterType="object">
        select id, name, type, log_type, status, priority, description from integration.t_engine_project
        <where>
            <if test="name != null and name != ''">
                and instr(#{name}, name) > 0
            </if>
            <if test="type != null and type != '' and type != '-1'">
                and type = #{type}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
        </where>
    </select>

    <!-- 根据项目ID查询项目信息 -->
    <select id="queryProjectInfoByID" parameterType="string"
            resultType="cn.soft.modules.engine.entity.project.ProjectModel">
        select id, `name`, type, log_type, `status`, priority, `description`
        from integration.t_engine_project
        where id = #{projectId}
    </select>

    <!-- 查询终端配置属性（也适用于后期维护该表时的查询） -->
    <select id="queryEndpointProperties" parameterType="object" resultMap="properties">
        select endpoint_type_name,
               `name`,
               type,
               required,
               allowed_values,
               default_value,
               endpoint_modes,
               masked,
               modeRequired,
               applies_to
        from integration.t_engine_ep_properties
    </select>
    <!-- 查询路由信息 -->
    <select id="queryRoutes" parameterType="list" resultMap="route">
        select id,
        `name`,
        `description`,
        debug,
        deep_clone,
        processing_strategy,
        thread_count,
        x,
        y,
        nodes,
        links
        from integration.t_engine_route
        <if test="routeIDs != null and routeIDs.size() > 0">
            <where>
                and id in
                <foreach collection="list" item="routeId" index="index" open="(" close=")" separator=",">
                    #{routeId}
                </foreach>
            </where>
        </if>
    </select>
</mapper>