<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.system.mapper.MenuMapper">

    <!-- 查询用户权限，根据角色id查询 -->
    <select id="queryByUser" parameterType="object" resultType="cn.net.system.bean.Menu">
        <choose>
            <when test="roleId == 'admin'">
                select * from integration.t_sys_permission order by sort_no
            </when>
            <otherwise>
                select a.* from t_sys_permission a left join t_sys_role_permission b on a.id = b.permission_id where
                b.role_id = #{roleId} order by a.sort_no
            </otherwise>
        </choose>
    </select>
</mapper>