<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.system.mapper.MenuMapper">

    <!-- 通过<resultMap>映射实体类属性名和表的字段名对应关系 -->
    <resultMap id="menu" type="cn.net.system.bean.Menu">
        <!-- result属性映射非匹配字段 -->
        <result column="is_route" property="route"/>
        <result column="keep_alive" property="keepAlive"/>
        <result column="parent_id" property="parentId"/>
        <result column="is_leaf" property="leaf"/>
        <result column="menu_type" property="menuType"/>
        <result column="component_name" property="componentName"/>
        <result column="sort_no" property="sortNo"/>
    </resultMap>

    <!-- 获取所有菜单 -->
    <select id="getAllMenus" parameterType="object" resultMap="menu">
        select *
        from t_sys_permission
        <where>
            <if test="menu.name != null and menu.name != ''">
                and INSTR(`name`, #{menu.name}) > 0
            </if>
            <if test="menu.menu_type != null and menu.menu_type != '-1'">
                and menu_type = #{menu.menu_type}
            </if>
            <if test="menu.hidden != null and menu.hidden != '-1'">
                and hidden = #{menu.hidden}
            </if>
        </where>
        order by sort_no asc
    </select>

    <!-- 查询用户权限，根据角色id查询 都是查询非删除状态的 -->
    <select id="queryByUser" parameterType="object" resultMap="menu">
        <choose>
            <when test="roleId == 'admin'">
                select * from integration.t_sys_permission where del_flag = 0 order by sort_no
            </when>
            <otherwise>
                select a.* from t_sys_permission a left join t_sys_role_permission b on a.id = b.permission_id where
                b.role_id = #{roleId} and a.del_flag = 0 order by a.sort_no
            </otherwise>
        </choose>
    </select>

    <!-- 查询一级菜单 -->
    <select id="getDirectory" resultMap="menu">
        <choose>
            <when test="roleId == 'admin'">
                select * from integration.t_sys_permission where del_flag = 0 and menu_type = 0 order by sort_no
            </when>
            <otherwise>
                select a.* from t_sys_permission a left join t_sys_role_permission b on a.id = b.permission_id where
                b.role_id = #{roleId} and a.del_flag = 0 and menu_type = 0 order by a.sort_no
            </otherwise>
        </choose>
    </select>
</mapper>